.projects {
    background-color: black;
    flex-direction: row;

   
}
    .projects .cont {
    
        
    }
.procard {
    background-color: #171717;
    border: 5px #171717;
    min-height: 14em;
    wedith: 23em;
    overflow:hidden;
    
    border-radius: 10px;
    
    margin: 20px;
    transition: 0.7s ease;
}
.procard:hover {
   
    transform: scale(1.1);
}
.proimg img {
    height:16em;
    width: 18em;
}
.proimg:hover .proimg {
    opacity:0.9;
}
.proinfo{
    padding:1em;

}
.procat {
    font-size:0.8em;
    color:red;
}
.protit {
    display:flex;
    justify-content:space-between;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:800;
}
.more {
    text-decoration:none;
    color:#3a6cf4;
}
.more:hover{
    color:601cfc;
}
}
.pro {
    flex-direction: row;
    height:100em;
}